@import "tailwindcss";

:root {
  --background: #EFF8FF;
  --foreground: #171717;
  --barva-primarni: #006ACC;
  --barva-primarni2: #CEE8FF;
  --barva-tmava: #003566;
  --barva-svetle-pozadi: #EFF8FF;
  --barva-podtext: #00356675;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #EFF8FF;
    --foreground: #ededed;
  }
}

html {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: #006ACC #f0f0f0;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  @apply w-full text-left border border-gray-300 rounded-2xl px-4 py-3 font-semibold text-black;
  @apply focus:outline-none focus:ring-2 focus:ring-[var(--barva-primarni)] focus:border-transparent;
  @apply transition-all;
}

.input2 {
  @apply w-full text-left border border-gray-300 rounded-2xl px-12 py-3 font-semibold text-black;
  @apply focus:outline-none focus:ring-2 focus:ring-[var(--barva-primarni)] focus:border-transparent;
  @apply transition-all;
}



/* Speciální styl pro input s datem, když NENÍ vyplněný, aby text vypadal jako placeholder */
.input[type="date"]:invalid {
  @apply text-gray-400;
}

/* Styl pro klasický placeholder u textových inputů */
.input::placeholder {
  @apply text-gray-400 font-normal;
}
